/BuzzyBeetle.class
/Enemigo.class
/EstadoCaparazon$1.class
/EstadoCaparazon.class
/EstadoEstandar.class
/EstadoKoopa.class
/Goomba.class
/KoopaTroopa.class
/Lakitu$1.class
/Lakitu.class
/PiranhaPlant.class
/Spiny.class
